
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter_font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.miama_font{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 10rem;
    line-height: 10px;
}


/* shared styles */
body{
    background-color: black;
    color: white;
}
main > section{
    max-width: 1200px;
    margin: 90px auto;
}
.display_flex{
    display: flex;
}
.btn_primary{
 color: white;
 background-color: rgb(230, 83, 60);
 padding: 16px 40px;
 border: none;
 font-weight: 600;
 border-radius: 42px;
 font-size: 1.25rem;
}
.section_title{
    font-size: 3rem;
    font-weight: 900;
}
.section_description{
    font-size: 1rem;
    opacity: 0.5;
}



/* header navbar styles */


header{
    background-image: linear-gradient(to bottom, #101010, #2e2e2ec8, #000000);
}

.navbar,.banner{
    max-width: 1200px;
    margin: 0 auto;
}
.brand_title{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 900;
    margin: 50px 0;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav_links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    align-items: center;
    gap: 48px;
    height: 45px;
    padding: 0;
    margin: 50px 0;
}
.nav_item{
    list-style: none;
}
.nav_link{
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
}
.nav_home{
    background-color: rgb(230, 83, 60);
    padding: 8px 20px;
    font-weight: 600;
    border-radius: 45px;
}
.nav_about{
    padding: 0 20px;
}
.hamb_icon{
    display: none;
}

/* header banner styles */

.banner{
    gap: 50px; 
}
.banner_content{
    max-width:50%;
}
.banner_title{
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 0;
}
.banner_description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.125rem;
    margin:28px 0;
}
.btn_style{
    color: white;
    background-color: black;
    border:1px solid white;
    padding: 16px 40px;
    font-weight: 600;
    border-radius: 42px;
    font-size: 1.25rem;
    margin-left: 15px;
}

.banner_image > img{
    margin-left:100px;
}

.color_card {
    position: absolute;
    margin-top: -150px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 25px;

}
.color{
    width: 45px;
    height: 45px;
    background: rgb(230, 83, 60);
    border-radius: 100%;
}
.card_num1 , .card_num2{
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 600;
}
.card_info{
    position: absolute;
    margin-left: 350px;
    margin-top: -450px; 
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 0 25px;
}




/* Habit styles */
.habit_content{
    text-align: center;
    max-width: 670px;
    margin: 0 auto;
}
.habit_content > h2{
    margin-bottom: 18px;
}
.habit_info{
    margin-top: 55px;
    
}
.image_info{
    text-align: center;
}
.image_info > img{
    border-radius: 100%;
}
.image_info > h4{
    margin-bottom: 10px;
}





/* run styles */
.run_container{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    justify-content: center;
    align-items: center;
    padding: 40px 10px 30px 50px;
    gap: 180px;
}
.run_content{
    max-width: 40%;
}
.run_content > h2{
    margin: 0;
}
.run_content > p{
    margin-bottom: 32px;
}
.run_img>img{
    max-width:90%;
    height: 310px;
    border-radius: 18px;
    object-fit: none;
    object-position: 68% 30%;
}


/* type container */
.type_container{
    justify-content: space-between;
}
.type_pic{
    max-width: 45%;
}
.type_pic>img{
    border-radius: 18px;
    width: 100%;
    height: 100%;
}
.experience_text{
    position: absolute;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 480px;
    padding: 20px;
    margin-top: -335px;
    margin-left: 10px;
}
.home>.experience_text>p{
    margin-bottom: 35px;
}


/* BMI Calculator */
.bmi_calculator{
    max-width: 100%;
}
.bmi_content{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.bmi_content > h2{
    margin-bottom: 15px;
}
.calculator_container{
    padding: 0 190px;
    background: rgb(34, 34, 34);
    gap: 50px;
}
.chart_title ,.info_title{
    font-size: 1.75rem;
    font-weight: 900;
    margin-top: 50px;
    max-width: 450px;
}

table{
    border-collapse: collapse;
    text-align: left;
    margin-top: 50px;
}
td{
    font-size: 1rem;
    font-weight: 400;
    color:rgb(255, 255, 255,0.5) ;
    border: 1px solid rgb(255, 255, 255,0.1);
    padding: 13px 20px 13px 5px;
}
th{

    font-size: 1.125rem;
    font-weight: 500;
    border: 1px solid rgb(255, 255, 255,0.1);
    padding: 13px 20px 13px 5px;

}



.info_title{
    margin-bottom: 15px;
}
.input_info{
    display: grid;
    gap: 15px;
    margin: 34px 0;
}
.box_height{
    grid-row: 1;
    grid-column: 1;
}
.box_gender{
    grid-row: 2;
    grid-column: 2;
}
.box_status{
    grid-column: 1 / span 2;
    grid-row: 3;
}
.input_info > select ,.input_info > input{
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 40px 15px 20px;
}

.bmi_info > button{
    margin-bottom: 50px;
}

input::placeholder{
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.6);
}
select{
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.6);
}
select option{
    color: black;
}

/* trainer styles */

.team_content{
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}
.team_content > h2{
    margin-bottom: 14px;
}
.image_container{
    height: 630px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1); 
    padding: 20px;
}
.trainer{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 18px;
}
.trainer_1{
    background-image: url(../images/trainer1.png);
}
.trainer_2{
    background-image: url(../images/trainer2.png);
}
.trainer_3{
    background-image: url(../images/trainer3.png);
}
.trainer_4{
    background-image: url(../images/trainer4.png);
}
.trainer_5{
    background-image: url(../images/trainer5.png);
}
.trainer_6{
    background-image: url(../images/trainer6.png);
}
.trainer > h4{
    position: absolute;
    margin-top: 238px;
    margin-left: 30px;
    font-size: 1.25rem;
    font-weight:900;
}
.trainer > p{
    position: absolute;
    margin-top: 265px;
    margin-left: 30px;
}


/* footer styles */
.footer_area{
    background: rgba(255, 255, 255, 0.1);
    padding: 0 190px;
}
.brand_info{
    justify-content: space-between;
    margin-top: 70px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.brand_content{
    max-width: 450px;
}
.brand_title_footer{
    color: rgb(230, 83, 60);
    font-size: 4.4rem;
    margin-bottom: 20px;
}
.contact_title{
    font-size: 2rem;
    color: rgba(255, 255, 255);
    margin-top: 70px;
    margin-bottom:40px;

}
.brand_contact > ul ,.brand_services > ul{
    padding: 0;
}
.brand_contact > ul > li , .brand_services > ul > li{
    list-style: none;
    font-size: 1.5rem;
    color: rgb(255, 255, 255,0.5);
    margin-bottom: 20px;
}
.rights{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    padding: 36px 0;
}