/* responsive media query */
@media screen and (max-width:576px) {
    header{
        padding: 0 20px;
    }
    main>section{
        margin: 60px auto;
    }
    .section_title{
        font-size: 2rem;
    }
    .nav_links,
    .btn_primary>span,
    .trainer_1,
    .trainer_4{
        display: none;
    }
    .hamb_icon{
        display: block;
    }
    .banner,
    .habit_info,
    .run_container,
    .calculator_container,
    .brand_info,
    .type_container{
        flex-direction: column;
        gap: 32px;
    }
    .banner_content,
    .run_content,
    .team_content,
    .type_pic{
        max-width: 100%;
    }
    .banner_content>button{
        margin: 0;
        padding: 15px 33px;
    }
    .banner_title{
        font-size: 2.25rem;
        width: 290px;
    }
    .banner_description{
        width: 290px;
    }
    .miama_font{
        font-size: 5.1rem;
    }
    .banner_image>img{
        margin: 0;
    }
    .card_info{
        margin-left: 185px;
        margin-top: -550px; 
        padding: 0 15px;
    }

    .habit_container,
    .run_container,
    .bmi_content,
    .image_container,
    .type_container{
        margin: 0 20px;
    }
    .habit_info{
        padding: 0 42px;
    }
    .run_container{
        padding: 32px;
    }
    .run_content>button{
        width: 100%;
    }
    .run_img{
        height: 190px;
    }
    .run_img>img{
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .calculator_container{
        margin-top: 35px;
        padding: 0 20px;
    }
    .input_info > select ,.input_info > input{
        padding: 12px 0 12px 20px;
    }
    .bmi_info>button{
        width: 60%;
    }
    .team_content{
        margin: 0 42px;
    }
    .image_container{
        height: 1220px;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 35px;
    }
    .footer_area{
        padding: 0 20px;
    }
    .contact_title{
        margin-top: 0;
    }
    .experience_text{
        max-width: 73%;
        margin-top: -305px;
    }
    .studio>.experience_text>button,
    .home>.experience_text>button{
        font-size: 1rem;
        padding: 13px 27px;
    }
}