/* responsive media query */
@media screen and (max-width:576px) {
    header{
        padding: 0 20px;
    }
    main>section{
        margin: 60px auto;
    }
    .section_title{
        font-size: 2rem;
    }
    .nav_links,
    .btn_primary>span,
    .trainer_1,
    .trainer_4{
        display: none;
    }
    .hamb_icon{
        display: block;
    }
    .banner,
    .habit_info,
    .run_container,
    .calculator_container,
    .brand_info,
    .type_container{
        flex-direction: column;
        gap: 32px;
    }
    .banner_content,
    .run_content,
    .team_content,
    .type_pic{
        max-width: 100%;
    }
     .btn{
        display: flex;
        max-width:100%;
        gap: 5px;
     }
     .btn>button{
        margin: 0;
        width: 50%;
        font-size: 1rem;
        padding: 15px 30px;
     }
    .banner_title{
        font-size: 2.25rem;
        width: 85%;
    }
    .banner_description{
        width: 85%;
    }
    .miama_font{
        font-size: 5.1rem;
    }
    .banner_image>img{
        margin: 0;
        max-width: 100%;
    }
    .card_info{
        margin-left: 150px;
        margin-top: -400px; 
        padding: 0 5px;
    }
    .card_content>h3,.card_info>h2{
        font-size: 1.25rem;
    }
    .card_content>p,.card_info>p{
        font-size: .75rem;
    }
    .habit_container,
    .run_container,
    .bmi_content,
    .image_container,
    .type_container{
        margin: 0 20px;
    }
    .habit_info{
        padding: 0 42px;
    }
    .run_container{
        padding: 32px;
    }
    .run_content>button{
        width: 100%;
    }
    .run_img{
        height: 190px;
    }
    .run_img>img{
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .calculator_container{
        margin-top: 35px;
        padding: 0 20px;
    }
    .input_info>input ,.input_info>select{
        padding: 10px 0 10px 5px;
    }
    .input_info>input ,.input_info>.box_gender{
        width: 100%;
    }
    .bmi_info>button{
        width: 60%;
    }
    .team_content{
        margin: 0 42px;
    }
    .image_container{
        height: 1220px;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 35px;
    }
    .footer_area{
        padding: 0 20px;
    }
    .contact_title{
        margin-top: 0;
    }
    .experience_text{
        width: 78%;
        margin: 0 auto;
        margin-top: -305px;
    }
    .studio>.experience_text>.btn>button,
    .home>.experience_text>.btn>button{
        font-size: 1rem;
        padding: 14px 26px;
    }
}